.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero img {
    margin-top: 150px;
}

.hero h1 {
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;
}

.hero h1 span {
    background: linear-gradient(267deg, #da7c25, #b923e1);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.hero p {
    width: 50%;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
}

.hero-action {
    align-items: center;
    display: flex;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect {
    border-radius: 50px;
    padding: 20px 30px;
    background: linear-gradient(267deg, #da7c25, #b923e1);
    border: 2px solid black;
    transition: 0.5s;
}

.hero-connect:hover {
    /* transform: scale(1.05); */
    border-color: white;

}

.hero-resume {
    border-radius: 50px;
    padding: 20px 70px;
    border: 2px solid white;
    transition: 0.5s;

}

.hero-resume:hover {
    /* transform: scale(1.05); */
    border-color: #b923e1;
}

@media (max-width:768px) {
    .hero img {
        margin-top: 120px;
        width: 260px;
    }

    .hero h1 {
        width: 90%;
        font-size: 50px;
    }

    .hero p {
        width: 70%;
        font-size: 20px;
        margin: 10px 0px;
    }

    .hero-action {
        gap: 16px;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .hero-connect {
        padding: 20px 30px;
        border-radius: 40px;
    }

    .hero-resume {
        padding: 20px 50px;
        border-radius: 40px;
    }
}