.mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 170px;
    gap: 80px;
}

.title {
    position: relative;
}

.title h1 {
    font-size: 80px;
    font-weight: 600;
    padding: 0px 30px;
}

.title img {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
}

.mywork-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.mywork-container img {
    box-sizing: border-box;
    width: 419px;
    height: 280px;
    transition: 0.3s;
    cursor: pointer;
}

.mywork-container img:hover {
    transform: scale(1.10);
    transition: 0.5s;
    border: 4px solid purple;
    border-radius: 10px;

}

@media (max-width:768px) {
    .mywork {
        gap: 50px;
        margin: 50px 70px;
    }

    .title h1 {
        font-size: 50px;
    }

    .title img {
        width: 50%;
        right: -20px;
    }
    .mywork-container{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .mywork-container img{
     width: 100%;
     height: 100%;
    }
  
}