.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;

}

.about-title {
    position: relative;
}

.about-title h1 {
    font-size: 80px;
    font-weight: 600;
    padding: 0px 30px;

}

.about-title img {
    position: absolute;
    z-index: -1;
    right: 0px;
    bottom: 0px;

}

.about-section {
    display: flex;
    gap: 80px;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about-para {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: 20px;
    font-weight: 500;
}

.about-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;


}

.about-skill {
    display: flex;
    flex-direction: column;

    gap: 20px;
    min-width: 150px;
    font-size: 25px;
    font-weight: 500;
    align-items: center;
}

.about-skill p {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logos{
    width: 25px;
}

.about-skill p:hover {
    transform: scale(1.20);
    transition: 0.3s;
}

.about-achivements {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 80px;
}

.about-achivement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}

.about-achivement h1 {
    font-size: 50px;
    background: linear-gradient(270deg, #da7c25, #b923e1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-achivement p {
    font-size: 20px;
    font-weight: 500;

}

.about-achivement:hover {
    transform: scale(1.15);
    transition: 0.5s;
}

@media (max-width:768px) {
    .about {
        gap: 50px;
        margin: 50px 70px;
    }

    .about-title h1 {
        font-size: 50px;
    }

    .about-title img {
        width: 50%;
        right: -20px;
    }

    .about-section {
        flex-direction: column;
    }

    .about-left {
        display: none;
    }

    .about-para {
        font-size: 20px;
        line-height: 30px;

    }

    .about-skill {
        gap: 20px;
        align-items: center;
    }

    .about-skill p {
        font-size: 20px;
    }

    .about-achivements {
        justify-content: space-between;
    }

    .about-achivement {
        gap: 10px;
    }

    .about-achivement h1 {
        font-size: 34px;
        font-weight: 700;
    }

    .about-achivement p {
        text-align: center;
        font-size: 18px;
    }
}