.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.contact-title {
    position: relative;
}

.contact-title h1 {
    font-size: 80px;
    font-weight: 600;
    padding: 0px 30px;
}

.contact-title img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.contact-section {
    display: flex;
    gap: 150px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1 {
    font-size: 80px;
    font-weight: 600;
    background: linear-gradient(267deg, #da7c25, #b923e1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-left p {
    font-size: 20px;
    max-width: 550px;
    line-height: 35px;

}

.contact-detail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;

}

.contact-right label {
    font-size: 22px;
    font-weight: 500;
}

.contact-right input {
    color: white;
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    font-family: 'outfit';
    font-size: 20px;

}

.contact-right textarea {
    color: white;
    border: none;
    width: 650px;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    font-family: 'outfit';
    font-size: 20px;

}

.contact-submit {
    border: none;
    color: white;
    font-family: 'outfit';
    border-radius: 50px;
    /* margin-left: 300px; */
    background: linear-gradient(267deg, #da7c25, #b923e1);
    font-size: 22px;
    padding: 15px 30px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-submit:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

@media (max-width:768px) {
    .contact {
        gap: 50px;
        margin: 50px 70px;
    }

    .contact-title h1 {
        font-size: 50px;
    }

    .contact-title img {
        width: 50%;
        right: -20px;
    }

    .contact-section {
        flex-direction: column;
    }

    .contact-left h1 {
        font-size: 54px;
    }

    .contact-left p {
        font-size: 18px;
    }

    .contact-detail {
        gap: 20px;
    }

    .contact-detail img {
        width: 25px;
    }

    .contact-right label {
        font-size: 20px;
    }

    .contact-right input {
        width: 100%;
        font-size: 20px;
    }

    .contact-right textarea {
        width: 95%;
        font-size: 20px;
    }

    .contact-submit {
        font-size: 20px;
        padding: 15px 40px;
    }
}

@media (max-width:430px) {

    .contact {
        gap: 50px;
        margin: 30px 40px;
    }

    .contact-title h1 {
        font-size: 40px;
    }

    .contact-left h1 {
        font-size: 50px;
    }

    .contact-section {
        flex-direction: column;
        gap: 100px;
    }

    .contact-right input {
        width: 100%;
        font-size: 18px;
    }

    .contact-submit {
        font-size: 20px;
        padding: 10px 30px;
    }
}