.footer-bottom {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 18px;
    margin-top: 10px;
}
.footer-bottomright{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}